<body>

    <p id="notice"></p>
    <div class="container px-5 px-sm-0">
      <div class="row">

       <%= render "users/form", user: @user, book: @book %>

        <div class="col-md-8 offset-md-1">

           <%= render "users/list", books: @books %>



        </div>
      </div>
    </div>

  <%= render 'homes/footer' %>
</body>